<style>
    body {
        font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
        font-size: 72.5%;
    }
    input,textArea{
        text-transform: capitalize; 
    }            

    /* custom inclusion of right, left and below tabs */

    .tabs-below > .nav-tabs,
    .tabs-right > .nav-tabs,
    .tabs-left > .nav-tabs {
        border-bottom: 0;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: none;
    }

    .tab-content > .active,
    .pill-content > .active {
        display: block;
    }

    .tabs-below > .nav-tabs {
        border-top: 1px solid #ddd;
    }

    .tabs-below > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
    }

    .tabs-below > .nav-tabs > li > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }

    .tabs-below > .nav-tabs > li > a:hover,
    .tabs-below > .nav-tabs > li > a:focus {
        border-top-color: #ddd;
        border-bottom-color: transparent;
    }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus {
        border-color: transparent #ddd #ddd #ddd;
    }

    .tabs-left > .nav-tabs > li,
    .tabs-right > .nav-tabs > li {
        float: none;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
    }

    .tabs-left > .nav-tabs {
        float: left;
        margin-right: 19px;
        border-right: 1px solid #ddd;
    }

    .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .tabs-left > .nav-tabs > li > a:hover,
    .tabs-left > .nav-tabs > li > a:focus {
        border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
    }

    .tabs-right > .nav-tabs {
        float: right;
        margin-left: 19px;
        border-left: 1px solid #ddd;
    }

    .tabs-right > .nav-tabs > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

    .tabs-right > .nav-tabs > li > a:hover,
    .tabs-right > .nav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus {
        border-color: #ddd #ddd #ddd transparent;
        *border-left-color: #ffffff;
    }            

</style>            
<!-- user profile -->
<section>
    <div class='row-fluid'>
        <div class='col-md-12 text-left padding-20 row'>
            <h2>My Account</h2>
            <h3>Please use the tabs below to update your account information</h3>
        </div>    
        <!--                </div>
                        <div class='row-fluid'>-->
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#tabContUser" id="tabUser"><h4>User Information</h4></a></li>
                <li><a href="#tabContLoc" id="tabLoc"><h4>Location Information</h4></a></li>
                <li><a href="#tabContBus" id="tabBus"><h4>Business Information</h4></a></li>
                <li><a href="#tabContFile" id="tabFile"><h4>File Uploads</h4></a></li>
                <li><a href="#tabContLegal" id="tabLegal"><h4>Legal Documents</h4></a></li>
                <li><a href="#settings"><h4>Bank Account</h4></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tabContUser">Loading...</div>
                <div class="tab-pane" id="tabContLoc">Loading...</div>
                <div class="tab-pane" id="tabContBus">Loading...</div>
                <div class="tab-pane" id="tabContFile">Loading...</div>
                <div class="tab-pane" id="tabContLegal">
                    <iframe src="../test/widget.jsp?fileToBeUploaded=listingagreement.pdf" style='border: 0px solid red; width: 800px; height: 750px' scrolling='no'></iframe>
                </div>
            </div>
        </div> 
    </div>
</section>  
<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>      
<script src="javascripts/FG.js" type="text/javascript"></script>
<script>
    //load user form & data
    loadUser();    
</script> 