<!-- Banner -->
<section class='info-block'>
    <div class='row-fluid'>
        <div class='col-md-10'>
            <h2>Ready to Sign Up for Finance Georgia?</h2>
            <p>Why invest on Wall Street, when you can invest in Peachtree Street?</p>
        </div>
        <div class='col-md-2'>
            <a class='btn btn-default' href='#'>

                Sign Up as a Business
            </a>
            <a class='btn btn-default' href='#'>

                Sign Up as an Investor
            </a>
        </div>
    </div>
</section>